#bookSearch{
  text-align: left;
  border: 1px solid black;
  margin: 40px;
  padding: 30px;
}

#searchHead {
  text-align: center;
  border: 1px solid black;
  margin: 40px;
  padding: 30px;
}

.bookInfo {
  margin: 40px;
  padding: 30px;
  /* border: 1px solid black; */
}

#img {
  flex: auto;
  width: 18rem;
  height: 23rem;
}

@media screen and (min-width: 701px) and (max-width: 990px) {
  .card-text{
    width: 100%!important;
  }

  .card-text{
    max-height: 12rem;
    overflow: scroll;
  }

  #img{
    width:15rem;
    height: 20rem;
  }
}

@media screen and (min-width: 680px) and (max-width: 690px) {
  .card-text{
    width: 100%!important;
  }

  .card-text{
    max-height: 12rem;
    overflow: scroll;
  }

  #img{
    width: 15rem;
    height: 20rem;
  }
}