#bookSearch{
  text-align: left;
  border: 1px solid black;
  margin: 40px;
  padding: 30px;
}

#searchHead {
  text-align: center;
  border: 1px solid black;
  margin: 40px;
  padding: 30px;
}

.bookInfo {
  margin: 40px;
  padding: 30px;
  border: 1px solid black;
}

body {
  background-color: blue;
}

/* @media screen and (min-width: 701px) and (max-width: 990px) {
  #root .card{
    width: 100%!important;
  }

  .card-text{
    max-height: 12rem;
    overflow: scroll;
  }
} */