#bookSearch{
  text-align: left;
  border: 1px solid black;
  margin: 40px;
  padding: 30px;
}

#searchHead {
  text-align: center;
  border: 1px solid black;
  margin: 40px;
  padding: 30px;
}

.bookInfo {
  margin: 40px;
  padding: 30px;
  border: 1px solid black;
}

body {
  background-image: "../../public/assets/images/img1.jpeg";
}

